@import url(https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display+SC);

* {
  box-sizing: border-box;
  margin: 0;
}

.jumbotron {
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  font-family: "Playfair Display SC", serif;
}
